<h1>
  {{title}}
</h1>
<form method="POST">
  <fieldset>
    <label for="name" class="col-2">
      Name:
    </label>
    <input name="name" id="name" required value="{{task.name}}" />
  </fieldset>
  
  <fieldset>
    <label for="dueDate" class="col-2">
      Due Date:
    </label>
    {{!-- Safely handle date formatting with null check --}}
    <input
  name="dueDate"
  id="dueDate"
  required
  type="date"
  value="{{#if task.dueDate}}{{toShortDate task.dueDate}}{{/if}}"
/>
  </fieldset>
  
  <fieldset>
    <label for="course" class="col-2">
      Course:
    </label>
    <select name="tag" id="tag">
      {{#each tags}}
        <option 
          value="{{this.name}}" 
          {{#if (eq this.name ../task.tag)}}selected{{/if}}
        >
          {{this.name}}
        </option>
      {{/each}}
    </select>
  </fieldset>
  
  <fieldset>
    <label for="status" class="col-2">
      Status:
    </label>
    <select name="status" id="status">
      {{#each (array "TO DO" "IN PROGRESS" "DONE")}}
        <option 
          value="{{this}}" 
          {{#if (eq this ../task.status)}}selected{{/if}}
        >
          {{this}}
        </option>
      {{/each}}
    </select>
  </fieldset>

  <button type="submit" class="offset-3 btn btn-primary">
    Save
  </button>
</form>